/node_modules
/public/hot
/public/storage
/public/recordings
/storage/*.key
/vendor
/app/composer.lock
.env
.env.backup
.env.k8s
.env.custom
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
