/node_modules
/public/hot
/public/storage
/public/recordings
/storage/*.key
/vendor
/app/composer.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
