.overview-section .picture {
  display: none;
}

.overview-section .key-feature {
  justify-content: center;
  flex-direction: column;
}

.overview-section .overview-content .key-feature .feature {
  margin: 0px auto 50px auto;
  text-align: center;
}

.learn_more-section {
  margin-bottom: 100px;
}

@media (min-width: 1024px) {
  .overview-section .picture {
    display: block;
  }

  .overview-section .key-feature {
    justify-content: flex-start;
    flex-direction: row;
  }

  .overview-section .overview-content .key-feature .feature {
    margin: initial;
    text-align: left;
  }

  .learn_more-section {
    margin-bottom: 100px;
  }
}