/*varible*/
$brand_color: #0A1247;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: top;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.container {
    max-width: 1200px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $brand_color;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 46px;
    font-weight: 500;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

h3 {
    font-size: 32px;
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 100;
    color: #666;
}

.buttons {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 14px #0A124720;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    transition: all 0.5s ease;

    span {
        margin-right: 30px;
        font-size: 18px;
    }

    svg {
        transition: all 0.5s ease;
    }

    &:hover {
        box-shadow: 0 2px 20px #0A124730;

        svg {
            transform: translateX(10px)
        }
    }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    width: 100%;
    background: #E9EDEF;
    // position: fixed;
    // top: 0;
    z-index: 1;
    transition: 1s;

    .menu {
        ul {
            display: flex;

            li {
                margin-left: 40px;
                font-size: 16px;

                a {
                    position: relative;
                    color: #0A1247;


                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        transform: scale(0);
                        background: $brand_color;
                        bottom: -5px;
                        left: 0;
                        transition: all 0.5s ease;
                    }

                    &:hover {
                        &::after {
                            transform: scale(0.8);
                        }
                    }
                }

            }
        }
    }

    &.color-header {
        background: #EBFCFC;
    }

    &.fixed-header {
        background: #EBFCFC;
        padding: 20px 40px;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    }
}

.heading {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 180px;
        background-color: #0A1247;
        bottom: -10px;
        border-radius: 8px;
        left: -40px;
    }
}

.hero-content {
    background: url("../images/hero_bg_img.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    // margin-top: 81px;

    .hero-text {
        .desc {
            margin-top: 40px;
            color: $brand_color;
        }

        .buttons {
            margin-top: 50px;
            margin-left: -120px;
            padding: 12px 40px;
        }
    }

}

.desc {
    max-width: 600px;
}

.features {
    padding-top: 120px;

    .feature-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 80px 0;
        justify-content: space-around;
        position: relative;

        .feature-text {
            .desc {
                max-width: 400px;
            }

            .heading {
                position: absolute;
                left: 40%;
                bottom: 140px;

                &::after {
                    right: -40px;
                    left: unset;
                    top: -10px;
                }
            }
        }

        &.editor-detail {
            flex-direction: row-reverse;

            .heading {
                left: 45%;
                top: 100px;

                &::after {
                    left: -40px;
                    top: -10px;
                }
            }
        }

        &.support-detail {
            .heading {
                top: 130px;
            }
        }
    }
}

.support-section {
    background: url("../images/support-bg-img.png");
    background-repeat: no-repeat;
    background-size: 70% 100%;

    .feature-detail {
        margin: 0;
    }
}

.comparision-section {
    margin-top: 120px;
    padding-bottom: 60px;
    text-align: center;
    background: url("../images/table-bg-img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 25% 100%;

    .comparison-content {
        .desc {
            margin: 0 auto;
        }

        .comparison-table {
            padding-top: 80px;
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #333333;

    thead {
        td {
            border-bottom: 1px solid #D9D9D9;
            padding: 20px 0;
        }
    }

    tbody {
        tr {
            td {
                padding-top: 25px;

                &:nth-child(1) {
                    text-align: left;
                    padding-left: 20px;
                }
            }
        }
    }
}

/**** Service *****/

.service {
    // margin-top: 81px;

    .serviceheading {
        padding: 70px 0;
        text-align: center;
        color: #0a1247;
    }
}

.service-btn {
    color: #fff;
    background-color: #0a1247;
    margin: 0 auto;

    span {
        margin: 0;
    }
}

.service-content {
    display: flex;
    padding-bottom: 110px;

    .service-img {
        img {
            width: 580px;
            height: 415px;
            object-fit: contain;
        }
    }

    .content {
        text-align: center;

        .content-heading {
            padding: 25px 0;
            color: #0a1247;
        }

        .content-para {
            padding-bottom: 30px;
        }
    }
}

.pbx-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/pbx-section.png);
    background-size: cover;
    padding: 100px 0;

    .pbx-content {
        text-align: center;

        .pbx-heading {
            color: #ffffff;
            padding-bottom: 30px;
        }

        .pbx-para {
            color: #ffffff;
            padding-bottom: 40px;
        }
    }
}

.overview-section {
    background-image: linear-gradient(to bottom, #f5f8fd, #ffffff 44%);
    padding: 120px 0;

    .overview-content {
        position: relative;
        text-align: center;

        .overview-heading {
            color: #0a1247;
            padding-bottom: 10px;
        }

        .overview-para {
            margin: 0 auto;
            max-width: 865px;
            padding-bottom: 130px;
        }

        .picture {
            position: absolute;
            right: -127px;
            top: 180px;
        }

        .key-feature {
            display: flex;

            .feature {
                width: 300px;
                margin-right: 50px;
                margin-bottom: 50px;
                text-align: left;

                .feature-img {
                    padding-bottom: 20px;
                }

                .feature-heading {
                    font-size: 22px;
                    font-weight: 500;
                    padding-bottom: 20px;
                    color: #0a1247;
                }

                .feature-para {
                    font-size: 16px;
                    font-weight: normal;
                    color: #666666;
                }

            }
        }

    }
}

.learn_more-section {
    background: url(../images/learn-bg.png);
    padding: 60px 0;
    margin-bottom: -120px;

    .learn_more-content {
        text-align: center;

        .learn_more-heading {
            font-size: 32px;
            font-weight: 500;
            color: #0a1247;
            padding-bottom: 30px;
        }

        .learn_more-para {
            padding-bottom: 40px;
            font-size: 18px;
            font-weight: normal;
            color: #666666;
        }
    }
}


/***** Signup ******/

.signup-page,
.login-page {
    background-image: linear-gradient(235deg, #f7f7f7, #ffffff 68%, #ffffff);
    // background: url(../images/login-bg.png), linear-gradient(235deg, #f7f7f7, #ffffff, 68%, #ffffff);

    .logo {
        text-align: center;
        padding-top: 40px;
    }

    .content {
        padding: 60px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: url(../images/login-bg.png);
        background-repeat: no-repeat;
        background-position: bottom;

        .signup-form,
        .login-form {
            border-radius: 20px;
            box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            padding: 50px;

            h3 {
                color: #317780;
                font-size: 22px;
                font-weight: 600;
                text-align: center;
                padding-bottom: 50px;
            }

            .field-input {
                display: flex;
                // border-bottom: solid 2px #f4f2f2;
                // margin-bottom: 30px;
                padding: 10px 0;

                svg {
                    margin-right: 20px;
                }

                input {
                    border: none;
                    width: 100%;
                    font-size: 16px;
                    color: #a0abae;
                    margin: 0;
                }

                .fname {
                    display: flex;
                    margin-right: 10px;
                }



                .input-box {
                    // padding: 10px 0;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 20px;

                    .input-field {
                        // border-bottom: solid 2px #f4f2f2;
                        width: 100%;
                        margin: 0;

                        &.lname {
                            padding-left: 20px;
                            border-left: 2px dotted #f4f2f2;

                            label {
                                padding-left: 20px;
                            }
                        }

                        .validate {
                            border-bottom: solid 1px #f4f2f2;
                        }
                    }
                }
            }

            .signup-btn,
            .login-btn {
                display: flex;
                justify-content: flex-end;

                span {
                    padding: 15px 40px;
                    border-radius: 35px;
                    background-color: #317780;
                    color: #fff;
                }
            }
        }

        .text {
            text-align: right;
            max-width: 342px;

            h2 {
                color: #317780;
                font-size: 36px;
                font-weight: bold;
                position: relative;

                &::after {
                    position: absolute;
                    right: 0;
                    content: '';
                    width: 180px;
                    height: 4px;
                    background: #317780;
                    border-radius: 2px;
                    overflow: hidden;
                    bottom: -10px;
                }
            }

            p {
                color: #666666;
                font-size: 18px;
                font-weight: 500;
                margin-top: 30px;
                margin-left: 10px;

                span {
                    color: #317780;
                }
            }
        }
    }
}

/****** Login ********/

.login-page {
    .logo {
        padding-top: 80px;
    }

    .content {
        padding: 120px 0;

        .login-form {
            .field-input {
                width: 400px;
            }
        }
    }
}

/****** Verification ******/

.verification-page {
    background-image: linear-gradient(235deg, #f7f7f7, #ffffff 68%, #ffffff);

    .logo {
        text-align: center;
        padding-top: 40px;
    }

    .content {
        margin: 60px 0 0;
        display: flex;
        justify-content: flex-start;
        position: relative;
        // background: url(../images/verify-img1.png);
        // background-position: right;
        // background-repeat: no-repeat;

        .text {
            padding-top: 60px;
            margin-left: 140px;
            z-index: 1;

            h2 {
                color: #317780;
                font-size: 36px;
                font-weight: bold;
                position: relative;

                &::after {
                    position: absolute;
                    left: 0;
                    content: '';
                    width: 180px;
                    height: 4px;
                    background: #317780;
                    border-radius: 2px;
                    overflow: hidden;
                    bottom: -10px;
                }
            }

            p {
                font-size: 18px;
                font-weight: 500;
                color: #666666;
                margin-top: 30px;
                max-width: 394px;
            }

            .verify-form {
                display: flex;
                align-items: center;
                padding: 40px;
                margin-top: 100px;
                border-radius: 10px;
                box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1);
                background-color: #ffffff;

                .details {
                    // border-bottom: solid 2px #f4f2f2;
                    // padding-bottom: 10px;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 20px;
                    }

                    .input-field {
                        margin: 0;

                        .validate {
                            border: none;
                            color: #a0abae;
                            font-size: 16px;
                            width: 225px;
                            border-bottom: solid 1px #f4f2f2;
                            margin: 0;
                        }



                        &.separator {
                            border-left: 2px dotted #f4f2f2;
                            padding-left: 25px;
                            margin-left: 25px;

                            label {
                                padding-left: 25px;
                            }
                        }
                    }
                }

                .submit-btn {
                    padding-left: 50px;
                    display: flex;
                    justify-content: flex-end;

                    span {
                        padding: 15px 40px;
                        border-radius: 35px;
                        background-color: #317780;
                        color: #fff;
                    }
                }
            }
        }

        .image {
            position: absolute;
            right: 0;
            max-height: 700px;
            overflow: hidden;
        }
    }
}

.footer {
    padding: 50px 0;
    margin-top: 120px;
    background: #EBFCFC;
    position: relative;
    background-image: url('../images/footer-bg-img.png');
    background-repeat: no-repeat;

    .footer-img {
        position: absolute;
        top: -50px;
    }

    .footer-menu {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li {
                margin-left: 50px;

                a {
                    position: relative;
                    color: #0A1247;

                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        transform: scale(0);
                        background: $brand_color;
                        bottom: -5px;
                        left: 0;
                        transition: all 0.5s ease;
                    }

                    &:hover {
                        &::after {
                            transform: scale(0.8);
                        }
                    }
                }

            }
        }
    }

}

.privacy {
    background: #0A1247;
    padding: 20px 0;

    .privacy-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
            color: #fff;
            font-size: 14px;
        }

        .social-media {
            display: flex;

            img {
                margin-left: 20px;
                cursor: pointer;
            }
        }
    }
}