/*
    Old styles from style.css file
*/
* {
    box-sizing: border-box;
    margin: 0 auto;
}
.footer,
header {
    max-width: 100%;
}

main {
    max-width: 1440px;
}

#desktop__nav {
    visibility: hidden;
}

/*.header {
  display: flex;
  justify-content: space-between;
  height: 62px;
}*/

.logo__img {
    margin-top: 10px;
    width: 139px;
    height: 31px;
    display: flex;
    background-image: url("/images/logo.png");
}

.fa-bars {
    margin-top: 10px;

    padding: 10px;
    font-size: 2px;
}
.hero__container {
    max-width: 100%;
    height: 550px;

    margin: 0 auto;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.hero__titleWrapper {
    margin: auto;
    background-color: #6ad6f9;
    width: 100%;
    height: 300px;
    border-radius: 0px 100px 0px 0px;
    grid-area: 4 / 1 / 7 / 4;
    z-index: 5;
}

.styling__white {
    background-image: url("/images/white-dots.png");
    height: 70px;
    width: 152px;
    margin-top: 40px;

    z-index: 6;

    background-repeat: no-repeat;
    grid-area: 4 / 3 / 4 / 4;
}

.hero__img {
    grid-area: 1 / 1 / 5 / 4;
    background-size: cover;
    background-image: url("/images/hero-img.png");
    height: 400px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.hero__titleWrapper > button {
    background-color: #0a1247;
    width: 80%;
    height: 50px;
    margin-top: 20px;
    margin-left: 15px;
    color: #fff;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 10px;

    border: none;
}

.hero__titleWrapper > h1 {
    height: 52px;
    margin-top: 54px;
    margin-left: 15px;
    width: 90%;
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
}

.hero__titleWrapper > h2 {
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
    width: 75%;
}

.features__wrapper {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.features__imgCloud,
.features__imgMod,
.features__imgScale {
    margin-left: auto;
    margin-right: auto;
}

.features__mobile {
    width: 95%;
    margin-top: 50px;
}
.features__mobile > h2 {
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 102px;
}

.features__info {
    padding-bottom: 10px;
}

.features__info > h3 {
    font-size: 40px;
    font-weight: 500;
    padding: 0px;
}

.features__info > p {
    font-size: 22px;
    font-weight: 300;
    padding-top: 15px;
}

.features__imgCloud {
    background-image: url("/images/fullcloud.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 345px;
    width: 345px;
    max-width: 100%;
}

.features__imgMod {
    background-image: url("/images/mod.png");
    background-repeat: no-repeat;
    height: 345px;
    width: 345px;
    background-size: 100% auto;
    max-width: 100%;
}
.features__imgScale {
    background-image: url("/images/scale.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 345px;
    background-size: 100% auto;
    max-width: 100%;
}

.features__info {
    width: 90%;
}

.features__mobile > h2 {
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 20px;
}

.features__info > h3 {
    font-size: 32px;
    font-weight: 500;
    padding: 0px;
}

.features__info > p {
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

table > caption {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 16px;
    font-size: 32px;
}

thead {
    background: linear-gradient(180deg, #f8f9fa 0%, rgba(248, 249, 250, 0) 100%);
    font-size: 13px;
}
th {
    text-align: left;
    padding-left: 20px;
}

tr {
    height: 63px;
}

td {
    padding-left: 20px;
    font-weight: 300;
    font-size: 13px;
}

tr:nth-child(even) {
    background-color: #eefcfc;
}

.serviceAreas {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #e8e8eb;
    width: 90%;
}


.serviceAreas__img {
    margin-top: 20px;
    background-size: 100% auto;
    background-image: url("/images/world.png");
    background-repeat: no-repeat;
    height: 15rem;
    width: 15rem;
    margin-bottom: 50px;
}

.places > h2 {
    font-size: 40px;
    font-weight: 500;
    width: 100%;
    height: 96px;
}

.service__areas {
    width: 50%;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
}

.places h3 {
    font-size: 26px;
    font-weight: 500;
    margin-left: 10px;
    width: 200px;
}
.service__areas > ul {
    list-style-image: url("/images/bullet.png");
    width: 100%;
    column-count: 2;
    column-gap: 10rem;
}
.statesAndProvinces > li {
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    column-gap: 2.5em;
}

.statesAndProvinces > li:hover {
    color: #73d9fa;
}

a:visited {
    text-decoration: none;
}

.footer {
    max-width: 100%;
    padding-top: 50px;
    height: 10%;
    background-color: #0a1247;
    color: #fff;
}

.footer__nav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.social__links {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

.footer__nav > li {
    padding: 10px;
}

.facebook {
    background-image: url("/images/facebook.png");
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
}

.twitter {
    background-image: url("/images/twitter.png");
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
}

footer > p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #6a6f94;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1049px) {
    .features__desktop {
        display: none;
    }
}

@media only screen and (min-width: 1050px) {
    #mobile__nav {
        display: none;
    }

    #desktop__nav {
        visibility: visible;
    }

    .logo__img {
        margin: 0;
        margin-bottom: 40px;
    }

    /*  .header {
        width: 100%;
        height: 80px;
        max-width: 1440px;

        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }*/

    #desktop__nav > .nav {
        list-style-type: none;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #desktop__nav > .nav > li {
        margin-left: 15px;
    }


    .logo__img {
        display: block;
        width: 139px;
        height: 31px;
        background-image: url("/images/logo.svg");
    }

    .hero__container {
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr) 2fr;
        grid-template-rows: 1fr;
        height: 582px;
    }

    .styling__white {
        background-image: url("/images/white-dots.png");
        height: 90px;
        width: 220px;
        margin-top: 40px;

        z-index: 3;

        background-repeat: no-repeat;
        grid-area: 1 / 2 / 2 / 5;
    }

    .styling__blue {
        background-image: url("/images/blue-dots.png");
        z-index: 3;
        height: 220px;
        width: 89px;
        margin-top: 510px;
        margin-left: 75px;
        background-repeat: no-repeat;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
    }

    .hero__titleWrapper {
        grid-area: 1 / 1 / 2 / 4;
        z-index: 2;
        height: 582px;
        margin-top: 0;
        background-color: #6ad6f9;
        border-radius: 0px 300px 0px 0px;
        padding-left: 130px;
        padding-top: 181px;
    }

    .hero__titleWrapper > h1 {
        height: 52px;

        font-size: 52px;
    }

    .hero__titleWrapper > h2 {
        font-size: 22px;
        font-weight: 300;

        width: 501px;
    }

    .hero__titleWrapper > button {
        background-color: #0a1247;
        width: 300px;
        color: #fff;
        font-weight: 400;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
    }

    .hero__img {
        height: 582px;
        max-width: 1440px;
        background-image: url("/images/hero-img.png");
        background-repeat: no-repeat;
        grid-area: 1 / 1 / 2 / 5;
        background-position: 100%;
        background-size: contain;
        z-index: 1;
        margin-right: 0;
    }
    main {
        margin-top: 144px;
    }

    .features__mobile {
        display: none;
    }

    .features__desktop {
        visibility: visible;
    }
    .features__desktop {
        width: 90%;
    }
    .features__desktop > h2 {
        text-align: center;
        width: 100%;
        margin: auto;
        font-size: 48px;
        font-weight: 500;
        padding-bottom: 102px;
    }

    .features__info > h3 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        font-size: 40px;
        font-weight: 500;
        padding: 0px;
    }

    .features__info > p {
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
        font-weight: 300;
        padding-top: 15px;
    }
    .features__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .features__imgCloud {
        background-image: url("/images/fullcloud.png");
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .features__imgMod {
        background-image: url("/images/mod.png");
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }
    .features__imgScale {
        background-image: url("/images/scale.png");
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }
    .features__imgCloud,
    .features__imgMod,
    .features__imgScale {
        height: 35rem;
        width: 40rem;
    }

    .features__info {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    table > caption {
        text-align: center;
        width: 100%;
        margin: auto;
        margin-top: 87px;
        margin-bottom: 30px;
        font-size: 40px;
    }

    table {
        width: 90%;
        margin: auto;
        border-collapse: collapse;
    }
    thead {
        background: linear-gradient(
                180deg,
                #f8f9fa 0%,
                rgba(248, 249, 250, 0) 100%
        );
        font-size: 21px;
    }
    th {
        text-align: left;
        padding-left: 20px;
    }

    tr {
        height: 78px;
    }

    td {
        padding-left: 20px;
        font-weight: 300;
        font-size: 20px;
    }

    tr:nth-child(even) {
        background-color: #eefcfc;
    }

    .serviceAreas {
        margin-top: 110px;
        border-top: 1px solid #e8e8eb;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .serviceAreas__img {
        margin-top: 110px;
        background-image: url("/images/world.png");
        background-repeat: no-repeat;
        height: 35rem;
        width: 35rem;
        margin-bottom: 81px;
    }

    .places > h2 {
        font-size: 40px;
        font-weight: 500;
        width: 100%;
        height: 96px;
    }

    .service__areas {
        width: 50%;
        margin-top: 45px;
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-count: 2;
        column-gap: 35px;
    }

    .places h3 {
        font-size: 26px;
        font-weight: 500;
        margin-left: 10px;
    }
    .service__areas > ul {
        list-style-image: url("/images/bullet.png");
        width: 100%;
        column-count: 2;
        column-gap: 2rem;
    }
    .statesAndProvinces > li {
        padding: 5px;
        font-size: 16px;
        font-weight: 300;
        line-height: 130%;
        column-gap: 2.5em;
    }

    .statesAndProvinces > li:hover {
        color: #73d9fa;
    }

    a:visited {
        text-decoration: none;
    }

    .footer {
        padding-top: 50px;
        height: 10%;
        background-color: #0a1247;
        color: #fff;
    }

    .footer__nav {
        margin: auto;
        width: 50%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        text-align: center;
        align-items: center;
    }

    .social__links {
        margin: auto;
        width: 50%;
        justify-content: center;
        list-style-type: none;
        display: flex;
        padding: 10px;
    }

    .facebook {
        background-image: url("/images/facebook.png");
        background-repeat: no-repeat;
        height: 42px;
        width: 42px;
        margin-right: 10px;
    }

    .twitter {
        background-image: url("/images/twitter.png");
        background-repeat: no-repeat;
        height: 42px;
        width: 42px;
    }

    footer > p {
        margin-top: 5%;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: #6a6f94;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1440px) {
    .hero__img{
        background-size: cover;
        background-position-x: 250px;
    }
    .hero__titleWrapper{
        padding-left: 25%;
    }
}


/*
    New styles added by DL
*/

h1, h2, h3, h4, h5, h6{
    font-family: Poppins;
    font-style: normal;

    /* Blue */
    color: #0A1247;
}
h1{
    text-align: center;
    font-weight: 600;
    font-size: 52px;
    line-height: 100%;
    /* identical to box height, or 52px */
}
h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
}
h3{
    font-size: 26px;
}
p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 130%;
    /* or 29px */
    color: #0A1247;
    margin-top: 15px;
    margin-bottom: 15px;

}
.full-section{
    position: relative;
    top: 0;
    left: 50%;
    width: 100vw;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-bottom: 120px;
}

.features-1
{
    padding-top: 0;
    background-repeat: no-repeat;
    background-position: 100% calc(100% + 80px);
    background-size: 220px;
}
.features-1 .inner-holder{
    width: 100%;
}

@media (max-width: 767px) {
    .button{
        margin-bottom: 50px;
    }
}

@media (min-width: 992px){
    .features-1 {
        white-space: nowrap;
    }
    .features-1:after
    {
        display: inline-block;
        width: 0;
        min-height: 455px;
        content: '';
        vertical-align: middle;
    }

    .features-1 > *
    {
        display: inline-block;
        max-width: 99.99%;
        vertical-align: middle;
        white-space: normal;
    }
    .features-1 h1{
        display: block;
    }
    .features-1 img.desktop{
        margin-left: -200px;
    }
    .features-1 img.mobile-only{
        display: none;
    }

}
@media (max-width: 991px) {
    .features-1 .mobile-only{
        max-width: 100%;
        height: auto;
    }
    .features-1 img.desktop{
        display: none;
    }

}
@media (max-width: 1049px) {
    .features-1 h1{
        margin-top: 50px;
        margin-bottom: 25px;
    }
}
@media (min-width: 768px){
    .features-1{
        background-position: 3% 50%;
        /*background-image: url(images/light-blue-dots-right.png)*/
    }
}

@media (max-width: 1024px) {
    .features-1{
        background-position: -6% 50%;
    }
}

a.button{
    padding: 16px 38px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */
    text-align: center;

}
/*a.button:hover{
	color: #0A1247;
	border: 1px solid #0A1247;
	background: #fff;
}*/


.blue-section .inner-holder{
    background-color: #6AD7FA;
    border-radius: 10px;
    padding: 40px 0;

}
.blue-section h2,
.blue-section p{
    color: #FFFFFF;
}
.blue-section .row{
    margin-bottom: -50px;
    margin-top: -50px;
}

.blue-section .tile{
    padding-bottom: 20px
}
.blue-section .column1{
    padding-right: 20px;
}
.blue-section .column1 img{
    float: right;
}
.blue-section .column2{
    padding-left: 0;
}

@media (max-width: 575px) {
    .blue-section .inner-holder{
        margin: 0 15px;
    }
}

@media (min-width: 576px){
    .blue-section .inner-holder{
        max-width: 540px;
    }

    .blue-section .column1{
        padding: 0;
    }
    .blue-section .tile{
        padding: 0;
    }
}
@media (min-width: 768px){
    .blue-section .inner-holder {
        max-width: 720px;
    }

}
@media (max-width: 991px) {
    .blue-section .inner-holder .container{
        max-width: 700px;
    }
    .blue-section .row{
        margin-top: 0;
    }
    .blue-section .desktop-images{
        display: none;
    }
    .blue-section .mobile-images{
        margin-top: 40px;
    }

}

@media (min-width: 992px){
    .blue-section .inner-holder{
        max-width: 960px;
    }
    .blue-section .column1{
        padding-right: 20px;
    }
    .blue-section .tile{
        padding-bottom: 20px;
    }
    .blue-section .row{
        margin-bottom: -40px;
        margin-top: -40px;
    }
    .blue-section .mobile-images{
        display: none;
    }


}
@media (min-width: 1200px){
    .blue-section .inner-holder{
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    .blue-section .inner-holder{
        max-width: 1340px;
    }
}
section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.overview{
    padding: 100px 0;
    border-top: 1px solid #E8E8EB;
    margin-bottom: 0;
}

@media (max-width: 575px) {
    .overview{
        margin-right: 15px;
        margin-left: 15px;
    }
}
.overview h2{
    margin-bottom: 40px;
}
.overview p{
    margin-top: 0;
}
.overview .heading{
    padding-left: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.overview .content{
    padding-left: 0;
}
@media (min-width: 992px) {
    .overview .icon-holder{
        text-align: center!important;
    }
    .overview .ov-block .row:first-child{
        min-height: 50px;
    }
    .overview .ov-row{
        margin-bottom: 50px;
    }
}

@media (max-width: 991px) {
    .overview .icon-holder{
        padding-left: 0;
    }
    .overview .content{
        margin-bottom: 0;
    }
    .overview .heading{
        margin-top: 10px;margin-bottom: 10px;
    }
}

.contact-form p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
}
section.contact-form{
    margin: 100px 0;
    border-top: 1px solid #E8E8EB;
    padding-top: 100px;
}
.contact-form input,
.contact-form textarea {
    margin-bottom: 20px;
    min-height: 60px;
}
.contact-form button{
    color: #0A1247;
    border: 2px solid #0A1247;
    border-radius: 10px;
    background: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */
    text-align: center;
    color: #0A1247;
    padding: 16px 26px;
    margin-bottom: 30px;
}
.contact-form input:focus{
    background: #FFFFFF;
    border: 2px solid #6AD7FA;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: none;
    color: #0A1247;
}

.contact-form button:hover{
    background: #0A1247;
    border-radius: 10px;
    color: #fff;
}
.contact-form .text-muted{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    color: #828495;
}

.contact-form .wrapper{
    position: relative;
}

.contact-form .placeholder {
    position: absolute;
    pointer-events: none;
    left: 13px;
    top: 19px;
    transition: 0.1s ease all;
    color: #828495;
}
.contact-form textarea:focus{
    padding-top: 20px;
}
.contact-form input:focus ~ .placeholder,
.contact-form textarea:focus ~ .placeholder{
    top: 3px;
    left: 15px;
    font-weight: 300;
    font-size: 10px;
    line-height: 130%;
    /* identical to box height, or 13px */
    text-transform: uppercase;
    color: #828495;
}



@media (max-width: 767px) {
    .mobile-hidden{
        display: none;
    }
}

/*
	Fixing Lineblocks page
*/

.serviceAreas h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 45px;
}
.serviceAreas h3{
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
}
.serviceAreas ul{
    list-style: none;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}

@media (max-width: 575px) {
    .serviceAreas ul{
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
    }
}
.serviceAreas ul li{
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.serviceAreas ul li:before{
    content: "\2022";
    color: #D7D8E1;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;

}
.serviceAreas a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    color: #0A1247;

}
.serviceAreas a:hover{
    color: #6AD7FA;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-decoration: none;
}
.serviceAreas .place{
    margin-bottom: 35px;
}
.features__imgCloud, .features__imgMod, .features__imgScale{
    max-width: 100% !important;
}
section.features{
    margin-bottom: 100px;
}
@media (max-width: 991px) {
    section.features .feature{
        margin: 50px 0;
    }
}

@media (max-width: 1049px) {
    section.features{
        margin-top: 100px;
    }
}
.comparison h2{
    margin-bottom: 30px;
}
.comparison{
    overflow: hidden;
}
.footer p{
    margin-bottom: 0;
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    .footer p{
        padding-bottom: 25px;
    }
}
.footer .footer__nav{
    width: 100%;
}
.footer__nav a{
    color: #fff;
}
.footer__nav a:hover{
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */
    text-decoration: none;
    text-align: center;

    color: #6AD7FA;
}
.social__links {
    max-width: 150px;
    width: 100%;

}
nav{
    width: 100%;
}
nav .logo{
    max-width: 200px;
}
.navbar-nav{
    margin-right: 0;
}

header .navbar-nav .nav-link{
    padding-right: 40px !important;
    padding-left: 0 !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    color: #0A1247;
}

@media (min-width: 768px) {
    header .navbar-nav .nav-item{
        margin-bottom: auto!important;
        margin-top: auto !important;
    }
}

.nav__btn {
    background-color: #0a1247;
    color: #fff;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 10px;
    width: 112px;
    border: none;
}
.nav__btn:hover{
    background-color: #050924;
}
header .navbar-toggler{
    border: none;
}
header i.toggle-icon {
    font-size: 30px;
    color: #0A1247;
}
.navbar-toggler{
    position: absolute;
    top: 25px;
    right: 40px;
    height: 20px;
    width: 29px;
    z-index: 5;
}
.navbar-toggler.collapsed span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #0A1247;
    transition: .5s;
}
.navbar-toggler.collapsed span:first-child {
    top: 4px;
}
.navbar-toggler.collapsed span:last-child {
    top: 16px;
}
.navbar-toggler:not(.collapsed) span {
    opacity: 0;
    top: 50%;
}
.navbar-toggler:not(.collapsed) span:first-child {
    opacity: 1;
    transform: rotate(45deg);
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #0A1247;
    transition: .3s;
}
.navbar-toggler:not(.collapsed) span:last-child {
    opacity: 1;
    transform: rotate(-45deg);
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #0A1247;
    transition: .3s;
}

@media (min-width: 768px) {
    .mob-menu{
        display: none;
    }
}
@media (max-width: 767px) {
    .navbar-collapse{
        background: white;
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        height: calc(100vh - 56px);
        z-index: 10;
        transition: .5s;
        transition-delay: .5s;
        overflow: hidden;
    }
    .collapsing{
        transition: height 0s;
    }
    .nav__btn{
        background-color: #6AD7FA;
        color: #0A1247;
        margin-top: 20px;

    }
    .mob-menu .rights p{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        /* or 17px */
        text-align: center;
        color: #6A6F94;
    }
    header .navbar-nav .nav-link{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .navbar-nav{
        min-height: 65%;
        padding-bottom: 3rem!important;
        padding-top: 3rem!important;
    }



}
button:focus,
.button:focus,
.btn:focus{
    outline: none;
    box-shadow: none;
}
.bg-blue.primary-button:hover{
    background-color: #050924;
    color: #fff;
}

.primary-button:hover{
    background-color: #050924;
    color: #fff;
}


/*
	About Us page styles
*/
body{
    overflow-x: hidden;
}
.about-us-page header,
.analysis-page header{
    background-color: #EEFCFC;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.full-section .inner-holder {
    width: 100%;
}
.about-us-header{
    background-image: url(/images/about-us.png);
    background-color: #EEFCFC;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: 108% 50%;
    background-size: contain;
}
.about-us-header .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 992px){
    .about-us-header{
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .about-us-header{
        background-size: 500px;
    }

}
@media (min-width: 991px) {
    .about-us-header{
        height: 500px;
    }
}
@media (min-width: 1440px) {
    .about-us-header{
        height: 600px;
    }
}
@media (min-width: 1700px) {
    .about-us-header{
        background-position: 80% 50%;
    }
}

@media (max-width: 767px) {
    .about-us-header{
        background-image: none;
    }
}

@media (min-width: 768px) {
    .about-us-header .mobile-only{
        display: none;
    }
}



.about-us-header h1{
    text-align: left;
}
section p{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 130%;
}
.about-us-2 {
    background-image: url(/images/light-blue-dots-about-us.png);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-position: 80% 100%;
    background-size: 100px;
}

@media (max-width: 991px) {
    .about-us-2{
        background-image: none;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}
.values h3{
    text-align: center;
    margin-bottom: 30px;
}
.values .card img{
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}
.values .card{
    background: #FFFFFF;
    box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.05);
    border-radius: 20px;
}

@media (max-width: 575px) {
    .values .card-deck{
        margin: 15px;
    }
}
@media (max-width: 767px) {
    .card-deck .card {
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        margin-bottom: 15px;
    }
}
@media (max-width: 991px) {
    .card-deck .card {
        -ms-flex: 1 0 40%;
        flex: 1 0 40%;
        margin-bottom: 15px;
    }
}

/*
	FAQ page styles
*/
.faq h1{
    margin-top: 100px;
    margin-bottom: 10px;
}
.faq .heading p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
}
.list-faqs{
    margin-top: 60px;
    margin-bottom: 60px;
}
.list-faqs .accordion{
    width: 100%;
}
.list-faqs .card{
    width: 100%;
    border: none;

}
.list-faqs .accordion>.card{
    border-bottom: 1px solid #D7D8E1;
}
.list-faqs .card-header{
    width: 100%;
    background-color: transparent;
    border: none;
}
.list-faqs .card-header .collapsed{
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 120%;
    /* or 44px */
    /* Grey */
    color: #828495;
}
.list-faqs .card-header .btn {
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 120%;
    /* or 44px */
}
.list-faqs .card-header .btn[aria-expanded="true"]{
    /* Blue */
    color: #0A1247;
}

.list-faqs .card-header .btn:before{
    padding-right: 10px;
    font-size: 37px;
}
.list-faqs .card-header .btn[aria-expanded="true"]:before{
    content: "-"; /* minus */
}
.list-faqs .card-header .btn[aria-expanded="false"]:before{
    content: "+"; /* plus */
}
.list-faqs .card-header .btn:hover{
    text-decoration: none;
    color: #0A1247;
}
.list-faqs .card-header .btn:focus{
    text-decoration: none;
}
.list-faqs .card-body{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 130%;
    /* or 29px */
    color: #0A1247;
    padding-left: 60px;
}
.list-faqs .collapse,
.list-faqs .collapsing{
    margin-left: 0;
}
.list-faqs .btn{
    text-align: left;
}

.faq .cta-block{
    background: #6AD7FA;
    box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.05);
    border-radius: 20px;
    margin-bottom: 100px;

}
.faq .cta-block p{
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    /* or 31px */
    /* White */
    color: #FFFFFF;
    padding-left: 32px;
}
.faq .cta-block a{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #0A1247;
}
.faq .cta-block .icon{
    width: 52px;
    height: 52px;
}
@media (max-width: 767px) {
    .list-faqs .card-header .btn{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 120%;
    }
    .list-faqs .card-body{
        font-size: 18px;
    }
    h1{
        font-size: 36px;
    }
    .faq .heading p{
        font-size: 14px;
    }
    .list-faqs{
        margin-top: 45px;
        margin-bottom: 30px;
    }
    .faq .cta-block p{
        font-size: 22px;
    }
}

/*
	Analysis page styles
*/
.analysis-header{
    background-image: url(/images/analysis-header.png);
    background-color: #EEFCFC;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: 108% 50%;
    background-size: contain;
}
.analysis-header p{
    margin-top: 30px;
    margin-bottom: 40px;

}
.analysis-header h1{
    text-align: left;
}
.analysis-header .button{
    /*max-width: 48%;*/
    margin-top: 20px;
    margin-bottom: 0;
    min-width: 309px;
}
@media (min-width: 992px){
    .analysis-header{
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .analysis-header{
        background-size: 500px;
    }

}
@media (min-width: 991px) {
    .analysis-header{
        height: 500px;
    }
}
@media (min-width: 1440px) {
    .analysis-header{
        height: 600px;
    }
}
@media (min-width: 1700px) {
    .analysis-header{
        background-position: 80% 50%;
    }
}

@media (max-width: 767px) {
    .analysis-header{
        background-image: none;
        padding-top: 50px;
    }
    .analysis-header h1{
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 100%;
    }
    .analysis-header p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .analysis-header .button{
        margin-top: 10px;
    }

}
@media (max-width: 375px) {
    .analysis-header .button{
        width: 100%;
        min-width: 100px;
    }
}
@media (min-width: 768px) {
    .analysis-header .mobile-only{
        display: none;
    }
}
.analysis-2 {
    background-image: url(/images/light-blue-dots-left.png);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: 35% 90%;
    background-size: 170px;
}

@media (max-width: 991px) {
    .analysis-2{
        background-image: none;
        margin-bottom: 50px;
    }
    .buttons-row{
        padding-left: 0;
        padding-right: 0;
    }
    .buttons-row .button{
        margin-bottom: 10px;
    }
}
.analysis-2 .image{
    padding: 38px 18px;
    background-color: #fff;
    box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.05);
    border-radius: 10px;
    margin: 5px;
}
.analysis-2 .image:first-child{
    margin-left: 0;
}
.analysis-2 .image:last-child{
    margin-right: 0;
}
.analysis-page .overview .heading h2 span{
    color: #6AD7FA;
}

@media (max-width: 991px) {
    .analysis-page .overview .heading{
        padding-left: 0;
    }
}
.solutions {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #6ad7fa;
    background-image: url(/images/white-dots-left.png);
    margin-top: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: 45% 90%;
    background-size: 170px;
}
.solutions p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
}
.solutions h3{
    color: #fff;
    margin-bottom: 27px;
}
.solutions ul{
    list-style: none;
    padding-left: 0;
}
.solutions ul li{
    margin-bottom: 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 130%;
}
.solutions ul li.checked:before{
    content: url(/images/checkmark.png);
    padding: 2px 15px 0 0;
}
.solutions ul li.not-checked:before{
    content: url(/images/notchecked.png);
    padding: 2px 15px 0 0;
}
.analysis-page .contact-form{
    margin: 21px 0 100px;
}
.analysis-page .list-faqs{
    margin-top: 40px;
}
.analysis-page section.faq{
    padding-top: 100px;
    border-top: 1px solid #E8E8EB;
    background-image: url('/images/blue-dots-down.png');
    background-repeat: no-repeat;
    background-position: 90% 10%;
    background-size: 70px;
}

@media (max-width: 991px) {
    .analysis-page section.faq{
        background-image: none;
    }
}
.reviews{
    padding-top: 100px;
    background-color: #EEFCFC;
    background-image: url("/images/blue-dots-up.png");
    background-repeat: no-repeat;
    background-position: 90% 10%;
    background-size: 70px;
}
.analysis-page .cta-block p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
}
@media (max-width: 991px) {
    .analysis-page .cta-block .button{
        margin-bottom: 10px;
        min-width: 310px;
    }
}
@media (max-width: 400px) {
    .analysis-page .cta-block .button{
        min-width: 10px;
    }
}

@media (min-width: 992px) {
    .analysis-page .cta-block .button.primary-button{
        float: right;
    }
    .analysis-page .cta-block .button.secondary-button{
        float: left;
    }
}
/*
	Contact Us Page
*/
.contact-page h1{
    padding-bottom: 40px;
}
.contact-page .heading{
    border-bottom: 1px solid rgba(215, 216, 225, 0.5);
    margin-bottom: 0;

}
.contact-page .contact-form{
    border-left: 1px solid rgba(215, 216, 225, 0.5);;
    padding-left: 95px;
}
.contact-page p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    color: #0A1247;
    margin-bottom: 30px;

}
section.content{
    margin-top: 0;
    margin-bottom: 0;
}
.contact-page .column{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0;
    margin-bottom: 0;
    border-top: none;
}
.contact-page .phone a{
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 100%;
    /* identical to box height, or 52px */
    color: #0A1247;
}
.contact-page .phone,
.contact-page .address{
    margin-bottom: 40px;
}
.contact-page span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0A1247;
    opacity: 0.4;
    display: block;
    margin-bottom: 10px;

}
.contact-page .address p{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 130%;
    /* or 29px */
    color: #0A1247;
    margin-top: 0;
}
.contact-page .email a{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    /* or 36px */
    color: #6AD7FA;
}

@media (max-width: 991px) {
    .contact-page .contact-form{
        border: none;
        padding-left: 15px;
        padding-top: 0;
    }
}
.primary-button{
    background: #0A1247;
    border-radius: 10px;
    color: #FFFFFF;
}
.secondary-button{
    border: 1px solid #0A1247;
    background: transparent;
    border-radius: 10px;
    color: #0A1247;
}
a.secondary-button{
    color: #0A1247;
}
.secondary-button:hover{
    background: #0A1247;
    border-radius: 10px;
    color: #fff;
}
a.secondary-button:hover{
    color: #fff;
}
.navbar-brand img{
    max-width: 200px;
}
.breadcrumbs{
    margin-top: 45px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
}
.breadcrumbs a{
    color: #0A1247;
    opacity: 0.9;
    padding-right: 6px;
}
.breadcrumbs a{
    text-decoration: none;
}
.breadcrumbs span{
    color: #828495;
    opacity: 0.9;
}
.breadcrumbs span:before{
    content: "•";
    color: #0A1247;
    padding-right: 10px;
    opacity: 0.9;
}
.breadcrumbs a + a:before{
    content: "•";
    color: #0A1247;
    padding-right: 10px;
    opacity: 0.9;
}
.resources-section .cards{
    margin-top: 45px;
    margin-bottom: 150px;
}
.resources-section .card{
    background: #FFFFFF;
    box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.05);
    border-radius: 20px;
    border: none;
}
.resources-section .card:hover{
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.15);
    border-radius: 20px;
}
.resources-section a.card{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #0A1247;
    padding: 33px 75px 33px 50px;
}
.resources-section a.card .content{
    margin-left: 0;
}
.resources-section a.card p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #828495;
    padding-top: 5px;
    margin: 0;
}
.resources-section a.card:hover{
    text-decoration: none;
}
.resources-section .arrow {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    position: absolute;
    right: 50px;
    transform: rotate(45deg);
}
.resources-section .arrow:before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #828495;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
}
.resources-section .arrow:after {
     content: '';
     float: left;
     position: relative;
     top: -100%;
     width: 100%;
     height: 100%;
     border-width: 0 1px 0 0;
     border-style: solid;
     border-color: #828495;
     transform-origin: 100% 0;
     transition:.2s ease;
 }
.related-bar{
    margin-top: 50px;
}
.resources-item h1{
    text-align: left;
    margin-bottom: 40px;
}
.resources-item h2{
    margin-top: 50px;
}
.resources-item .resource{
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    .resources-item .resource{
        margin-bottom: 50px;
    }
}
.resource ol {
    padding-inline-start: 20px;
}
ul.related-items{
    background: #FFFFFF;
    /* For image */

    box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.09);
    border-radius: 20px;
    padding: 30px 50px;
    list-style-position: inside;
}
ul.related-items li:before{
    content: "\2022";
    color: #6AD7FA;
    margin-left: -16px;

}
ul.related-items li a {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #0A1247;
    padding-left: 5px;
}
ul.related-items li a:hover{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.resources-section .card.support-card-desktop{
    background-color: #EEFCFC;
    box-shadow: none;
}
.resources-section .card.support-card-desktop .card-content p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #0A1247;
    margin-bottom: 20px;
}
.resources-section .card.support-card-desktop .card-content p.heading{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: #0A1247;
    margin-bottom: 10px;
}
.resources-section .card.support-card-desktop .card-content .btn{
    padding: 16px 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-align: center;

    color: #FFFFFF;
}
.resources-section .card.support-card-desktop:hover{
    cursor: auto;
}
.resources-item img{
    max-width: 100%;
    height: auto;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0a1247;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 28px;
}

#scrollToTop:hover {
    background-color: #fff;
    color: #0a1247;
    font-size: 28px;
}
.resources .search{
    margin-left: 15px;
    margin-right: 15px;
}
.resources #search-box{
    position: relative;
    margin:  30px auto 60px;
    border: 1px solid #ccc;
    padding: 5px;
    border: 1px solid #D7D8E1;
    box-sizing: border-box;
    filter: drop-shadow(0px 20px 100px rgba(10, 18, 71, 0.05));
    border-radius: 20px;
}
.resources #search-form{
    height: 65px;
    background-color: #fff;
    overflow: hidden;
}
.resources #search-text{
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
    line-height: 15px;
}
.resources #search-box input[type="search"]{
    width: 90%;
    padding: 10px 0 5px 1em;
    color: #333;
    outline: none;
    border: none;
    height: 56px;
}
.resources #search{
    position: absolute;
    top: 12px;
    right: 12px;
    height: 50px;
    width: 160px;
    color: #fff;
    text-align: center;
    border-width: 0;
    cursor: pointer;
    border-radius: 10px;
    outline: 0;
}

@media (max-width: 767px) {
    .resources #search span{
        display: none;
    }
    .resources #search{
        width: 40px;
        height: 40px;
        padding: 0;
        top: 16px;
    }
    .resources #search i{
        background: url('/images/search-icon.png');
        display: block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    }
}

@media (min-width: 768px) {
    .resources #search i{
        display: none;
    }
}


@media (min-width: 1024px){
    .resources .input-field {
        margin-bottom: auto;
    }
}
.resources .tile {
    background: #FFFFFF;
    box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.05);
    border-radius: 20px;
    padding: 35px;
    margin-bottom: 20px;
    border: none;
}
.resources .tile .title p{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #0A1247;
}
.resources .tile .title .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.resources .tile .title p.muted{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #828495;
}

@media (max-width: 767px) {
    .resources .tile .title p.muted{
        display: none;
    }
    .resources .tile .title{
        margin-bottom: 15px;
    }
}
.resources .tile .links ul li{
    padding-bottom: 20px;
}
.resources .tile .links ul li a{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: #0A1247;
}

.resources .tile .links ul li a.view-all{
    font-weight: 500;
    color: #6AD7FA;
}
.resources .tile .links ul li a.view-all:after{
    content: ">";
    padding-left: 5px;
}
.resources .tile .links ul li a:hover,
.resources .tile .links ul li a.view-all:hover{
 font-weight: 500;
 font-size: 18px;
 line-height: 100%;
 color: #0A1247;
}
header.resources{
    background: #f4fdfd
}
header.resources .container{
    max-width: 90%;
}

@media (min-width: 1400px) {
    header.resources .container{
        max-width: 1400px;
    }
}
.cloud-n-solutions-page .hero-banner{
    padding-top: 180px;
    margin-top: 0;
    padding-bottom: 150px;
    background: #0A1247 url("/images/cloud-n-sol-banner.png") no-repeat 85% 50%;
    background-size: 850px;
}

@media (max-width: 1600px) {
    .cloud-n-solutions-page .hero-banner{
        background-position-x: 100%;
    }
}
@media (max-width: 1400px) {
    .cloud-n-solutions-page .hero-banner{
        background-size: 700px;
    }
}
@media (max-width: 1199px) {
    .cloud-n-solutions-page .hero-banner{
        background-size: 600px;
        padding-top: 120px;
        padding-bottom: 120px;

    }
}
@media (max-width: 991px) {
    .cloud-n-solutions-page .hero-banner{
        background-size: 500px;
        padding-top: 90px;
        padding-bottom: 90px;

    }
}
@media (max-width: 767px) {
    .cloud-n-solutions-page .hero-banner{
        background-image: none;
        padding-top: 50px;
        padding-bottom: 50px;

    }
}

.cloud-n-solutions-page .hero-banner h1,
.cloud-n-solutions-page .hero-banner p{
    color: #fff;
}
.button.bg-light-blue{
    background: #6AD7FA;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .mobile-only{
        display: none;
    }
}
.help-cards ul{
    margin-top: 35px;
    display: inline-flex;
}
.help-cards ul li{
    padding-left: 35px;
    padding-right: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.help-cards ul li{
    border-bottom: 1px solid #F1F1F4;
    padding-bottom: 25px;
}
.help-cards ul li:last-child{
    padding-right: 35px;
}
.help-cards ul li:first-child{
    padding-left: 35px;
}
.help-cards ul li.inactive{
    color: #828495;
}
.help-cards ul li.active{
    border-bottom: 2px solid #6AD7FA;
    color: #0A1247;
}
.help-cards .card .card-icon{
    width: 68px;
    height: 68px;
    margin-top: 35px;
}
.help-cards .card-footer{
    border: none;
    background: transparent;
    padding-bottom: 50px;
}
.help-cards .subhead{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

}
.help-cards .card-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    /* or 31px */

    text-align: center;
}
.help-cards .card-text{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */

    text-align: center;

    color: #0A1247;
}
.help-cards .card{
    background: #FFFFFF;
    box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.05);
    border-radius: 20px !important;
    margin: 10px 10px;
    border: none;
}
.help-cards .tablinks:hover{
    cursor: pointer;
    color: #0A1247;
}
.help-cards .tabcontent {
    display: none;
}
.cloud-n-solutions-page .compare-table{
    overflow-y: auto;
    height: 70vh;
}

@media (max-width: 767px) {
    .cloud-n-solutions-page .compare-table{
        height: 85vh;
    }
}
.cloud-n-solutions-page .compare-table table thead th {
    position: sticky;
    top: 0;
    background: #fff;
}
.cloud-n-solutions-page .compare-table table .title{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    text-transform: uppercase;
    color: #0A1247;
}
.cloud-n-solutions-page .compare-table::-webkit-scrollbar {
    display: none;
}
section.comparison{
    border-top: 1px solid #E8E8EB;
    padding-top: 100px;
    margin-top: 0;
}

@media (max-width: 767px) {
    .help-cards ul li.tablinks{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
    }
    .help-cards ul li.tablinks:last-child {
        padding-right: 10px;
    }
    .help-cards ul li.tablinks:first-child {
        padding-left: 10px;
    }
}
@media (max-width: 500px) {
    .help-cards ul li.tablinks{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
    }
    .help-cards ul li.tablinks:last-child {
        padding-right: 0;
    }
    .help-cards ul li.tablinks:first-child {
        padding-left: 0;
    }
}
.notfound h1{
    margin-bottom: 24px;
}
.notfound .extra-links{
    margin-top: 50px;
}

@media (max-width: 767px) {
    .notfound .extra-links{
        margin-top: 0;
    }
}
.notfound .extra-links a{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    color: #0A1247;
}
.notfound .extra-links a:before{
    content: "•";
    color: #0A1247;
    padding-right: 10px;
    opacity: 0.9;
}