.pricing .cards-section .container {
  width: 100%;
}

.pricing .container {
  /* width: 100%; */
  width: 1062px;
  padding: 0px;
}

.pricing .serviceheading2 {
  font-size: 52px;
  font-weight: 600;
}

.pricing .serviceinfo {
  font-size: 18px;
  font-weight: 400;
}

.pricing .card {
  background: #ffffff;
  box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.05);
  border-radius: 20px;
  box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pricing .card-popular {
  border: 4px solid #ff655d;
  position: relative;
}

.pricing .card-popular-corner {
  position: absolute;
  background: #ff655d;
  top: 0px;
  right: 0px;
  width: 150px;
  height: 150px;
  transform: rotate(45deg) translateY(-120px);
  transform-origin: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.pricing .card-popular-corner p {
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  margin: 0px;
}

.pricing .card-popular-corner svg {
  transform: rotate(32deg);
}

.pricing .card-content h5 {
  font-size: 21px;
  font-weight: 300;
}

.pricing .card-content h2 {
  height: 120px;
  font-weight: 600;
  font-size: 66px;
  color: #0a1247;
}

.pricing .pricing-price {
  display: flex;
  justify-content: center;
}

.pricing .pricing-price small {
  font-size: 28px;
}

.pricing .pricing-decimals {
  font-size: 28px;
  line-height: 69px;
  display: inline-block;
  margin-top: auto;
}

.pricing .per-month {
  font-weight: 300;
  font-size: 12px;
}

.pricing .collection,
.pricing .collection-item {
  border: none;
  list-style-type: circle;
  text-align: left;
}

.pricing .collection-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 19.2px;
  list-style-type: initial !important;
  position: relative;
  padding-left: 30px;
}

.pricing .collection-item::before {
  content: "";
  display: block;
  position: absolute;
  left: 13px;
  top: 18px;
  width: 5px;
  height: 5px;
  background-color: #6ad7fa;
  border-radius: 50%;
}

.pricing .item-plus {
  font-size: 11px;
  font-weight: 600;
  margin-top: 70px;
}

.pricing .item-plus::before {
  display: none;
}

.pricing .item-plus span {
  color: white;
  padding: 3px 10px;

  margin-right: 10px;
  background: #6ad7fa;
  text-transform: uppercase;
  border-radius: 30px;
}

.pricing .card-button {
  margin-top: auto;
  text-align: left;
}

.pricing .card-button button {
  background: white;
  color: #0a1247;
  border: 2px solid #0a1247;
  font-weight: 500;
  font-size: 18px;
  padding: 13px 29px;
  border-radius: 10px;
}

.pricing .card-button button:hover,
.pricing .card-button button:active {
  background: #0a1247;
  color: white;
}

.pricing-comparison {
  padding: 100px 0px;
  overflow-x: scroll;
}

.pricing-comparison-title h2 {
  margin-top: 70px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 28px;
  line-height: 48px;
  padding-left: 27px;
}

.pricing-table {
  background: white;
  font-weight: 300;
  font-size: 13px;
}

.pricing-table tr {
  position: relative;
}

.pricing-table tr:nth-child(even) {
  background: white;
}

.pricing-table tr:nth-child(odd) {
  background: #eefcfc;
}

.pricing-table tr:nth-of-type(1) {
  background-color: transparent;
}

.pricing-comparison table tr td,
.pricing-comparison th {
  text-transform: capitalize;
}

.pricing-comparison table tr td:nth-child(1) {
  position: sticky;
  left: 0px;
  z-index: 2;
  width: 150px;
}

.pricing-comparison table tr:nth-child(odd) td:nth-child(1) {
  background: #eefcfc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.pricing-comparison table tr:nth-child(even) td:nth-child(1) {
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.pricing-table tr:nth-of-type(1) td:nth-child(1) {
  background-color: white !important;
}

@media (min-width: 768px) {
  .pricing .cards-section .container {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .pricing .row {
    display: flex;
  }

}

@media (min-width: 1062px) {
  .pricing .container {
    width: initial;
  }

  .pricing-table {
    font-size: 20px;
  }

  .pricing-comparison-title {
    text-align: center;
    font-size: 40px;
  }

  .pricing-comparison table tr td:nth-child(1) {
    position: relative;
    left: 0px;
    z-index: 1;
    width: auto;
  }

  .pricing-comparison table tr:nth-child(odd) td:nth-child(1) {
    box-shadow: none;
  }

  .pricing-comparison table tr:nth-child(even) td:nth-child(1) {
    box-shadow: none;
  }
}