.trunking-networks.container {
  width: 100%;
}

.trunking-networks {
  padding-top: 98px;
  padding-bottom: 100px;
  position: relative;
}

.trunking-networks__back-btn {
  display: none;
  position: absolute;
  left: 0px;
  top: 120px;
}

.trunking-networks__back-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-31%, -62%);
}

.trunking-networks header {
  text-align: center;
  margin-bottom: 37px;
  color: #0a1247;
}

.trunking-networks header h1 {
  font-size: 36px;
}

.trunking-networks header p {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #0a1247;
}

.trunking-networks__content {
  margin-bottom: 42px;
}

.trunking-networks__network {
  display: flex;

  font-size: 14px;
  padding: 16px 10px;
  background: #ffffff;
  box-shadow: 0px 20px 100px rgba(10, 18, 71, 0.05);
  border-radius: 20px;
  margin-bottom: 10px;
  color: #0a1247;
}

.trunking-networks__network-date {
  width: calc(127px + 10px);
}

.trunking-networks__network p {
  margin: 0px;
  color: inherit;
  font-size: inherit;
}

.trunking-networks__network-status {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.trunking-networks__network-link {
  margin-left: auto;
  color: #828495;
  font-weight: 300;
  font-size: inherit;

  display: flex;
  align-items: center;
}

.trunking-networks__network-link span {
  display: none;
}

.trunking-networks__network-link img {
  margin-left: 10px;
}

.trunking-networks__see-all-btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: transparent;
  color: #6ad7fa;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.trunking-networks__see-all-btn svg {
  margin-right: 10px;
  transition: 0.3s all ease-in-out;
}

.trunking-networks__see-all-btn:hover svg {
  transform: rotate(360deg);
  transform-origin: center;
}

@media (min-width: 1280px) {
  .trunking-networks.container {
    width: 1280px;
  }

  .trunking-networks__back-btn {
    display: block;
  }

  .trunking-networks header h1 {
    font-size: 52px;
  }

  .trunking-networks header p {
    font-size: 16px;
  }

  .trunking-networks__network {
    font-size: 16px;
  }

  .trunking-networks__network-status {
    font-weight: 600;
  }

  .trunking-networks__network-date {
    width: calc(127px + 78px);
  }

  .trunking-networks__network-link span {
    display: inline-block;
  }

  .trunking-networks__network {
    padding: 22px 31px;
  }

  .trunking-networks__see-all-btn {
    font-size: 18px;
  }
}
